MAGENTO_ADMIN_EMAIL=admin@example.com
MAGENTO_ADMIN_FIRST_NAME=Administrator
MAGENTO_ADMIN_LAST_NAME=Magento2
MAGENTO_ADMIN_USER=admin
MAGENTO_ADMIN_PASSWORD=PUT_YOUR_ADMIN_PASSWORD_HERE
MAGENTO_ADMIN_FRONTNAME=admin
MAGENTO_LOCALE=pt_BR
MAGENTO_CURRENCY=BRL
MAGENTO_TIMEZONE=America/Sao_Paulo